body{
    background-color: blue;
    color: rgb(1, 16, 16);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 700px;
    margin: 0;
}
button{
    background-color: dodgerblue;
    color: rgb(100, 237, 162);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}